body{
	background: darkred;
	font-family: roboto;
	text-align: center;
	color: whitesmoke;
}
h1,h2{
	color: whitesmoke;
}
.ketengah{
	margin: 10px auto;
	width: 1150px;
}

.kotak1{
	background: darkblue;
	padding: 20px;
	width: 150px;
	height: 150px;
	margin: 20px;
	float: left;
}
.kotak2{
	background: darkblue;
	padding: 20px;
	width: 150px;
	height: 150px;
	margin: 20px;
	float: left;
	matrix( scaleX(), skewY(), skewX(), scaleY(), traslateX(), transletrY() )
	-ms-transform: matrix(1,2,-1,1,5,4); /*Support IE 9 */
	-webkit-transform: matrix(1,2,-1,1,5,4); /*Support Safari */
	transform: matrix(1,2,-1,1,5,4); /*Standard syntax */
}