body{
	background: darkred;
	font-family: roboto;
	text-align: center;
	color: whitesmoke;
}
h1,h2{
	color: whitesmoke;
}
.ketengah{
	margin: 10px auto;
	width: 1150px;
}

.kotak1{
	background: darkblue;
	padding: 20px;
	width: 150px;
	height: 150px;
	margin: 20px;
	float: left;
}
.kotak2{
	background: darkblue;
	padding: 20px;
	width: 150px;
	height: 150px;
	margin: 20px;
	float: left;
	-ms-transform: rotate(30deg); /*Support IE 9 */
	-webkit-transform: rotate(30deg); /*Support Safari */
	transform: rotate(30deg); /*Standard syntax */
}
.kotak3{
	background: darkblue;
	padding: 20px;
	width: 150px;
	height: 150px;
	margin: 20px;
	float: left;
	-ms-transform: rotate(90deg); /*Support IE 9 */
	-webkit-transform: rotate(90deg); /*Support Safari */
	transform: rotate(90deg); /*Standard syntax */
}
.kotak4{
	background: darkblue;
	padding: 20px;
	width: 150px;
	height: 150px;
	margin: 20px;
	float: left;
	-ms-transform: rotate(-90deg); /*Support IE 9 */
	-webkit-transform: rotate(-90deg); /*Support Safari */
	transform: rotate(-90deg); /*Standard syntax */
}
.kotak5{
	background: darkblue;
	padding: 20px;
	width: 150px;
	height: 150px;
	margin: 20px;
	float: left;
	-ms-transform: rotate(-30deg); /*Support IE 9 */
	-webkit-transform: rotate(-30deg); /*Support Safari */
	transform: rotate(-30deg); /*Standard syntax */
}